<split [direction]="'horizontal'" (gutterClick)="gutterClick($event)">
  <split-area [size]="areas[0].size">
    <div class="sidebar">
        sidebar
      </div>
  </split-area>
  <split-area [size]="areas[1].size">
      <div class="container">
          <div class="split-example">
              <split [direction]="'vertical'">
                  <split-area size="30">
                      <table>
                        <thead>
                          <tr>
                              <th>id</th>
                              <th>name</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Khoa lead</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>Khoa prime</td>
                              </tr>
                        </tbody>
                      </table>
                  </split-area>
                  <split-area size="70">
                    <div class="chart-container">
                        <chart [type]="type" [data]="data" [options]="options"></chart>
                    </div>           
                    <br>
                    <div class="btns">
                        <button class="btn btn-warning" (click)="direction = (direction === 'horizontal') ? 'vertical' : 'horizontal'">{{ 'Toggle direction: "' + direction + '"' }}</button>    
                    </div> 
                  </split-area>
              </split>
          </div>
          
      </div>
  </split-area>
</split> 