:host {
    height: inherit;
}
.container {
    height: inherit;
}
.split-example {
    height: inherit;
}
.chart-container {
    position: relative;
    height: 80%;
}
#canvas {
    height: 100%;
}
body {
    margin: 0px;
}